@font-face {
 font-family: NASHVILL;
 src: url('NASHVILL.ttf');
}

body {
  background-image: url(../images/Charles_Marion_Russell_–_Smoke_of_a_.45_–_Google_Art_Project.jpg);
}

h1, h2, h3, .lead {
  font-family: NASHVILL, serif;
}

.jumbotron {
  background-color: #723a21;
}

.console {
  background-color: #f2d7ba;
  padding: 20px;
  border-radius: 25%;
}

#win-lose {
  padding: 0;
  margin: 4px;
    background-color: #723a21;
    color: gold;
    border-radius: 40%;
}
